amqp==5.2.0
asgiref==3.8.0
billiard==4.2.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.3
cryptography==42.0.5
dj-database-url==2.1.0
Django==5.0.3
django-celery-beat==2.6.0
django-environ==0.11.2
django-filter==24.2
django-jazzmin==2.6.0
django-timezone-field==6.1.0
djangorestframework==3.15.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
idna==3.6
kombu==5.3.7
packaging==24.0
prompt-toolkit==3.0.43
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2==2.9.9
pycparser==2.21
PyJWT==1.7.1
python-crontab==3.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
rapidfuzz==3.8.1
requests==2.32.2
six==1.16.0
sqlparse==0.4.4
thefuzz==0.22.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.2
uuid==1.30
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
